@use 'fonts';

// Basics
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
::selection {
  background-color: variables.$clr-primary;
  color: white;
}
a {
  color: variables.$clr-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

// Components
pre.codebox {
  padding: 10px 15px;
  border-radius: 10px;
  background: variables.$clr-code-bg;
  line-height: 1.1em;

  code.hljs {
    color: white;
    font-family: variables.$font-code;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;

    .hljs-keyword {
      color: variables.$clr-code-keyword;
    }
    .hljs-variable {
      color: variables.$clr-code-class;
    }
    .hljs-title {
      &.function_ {
        color: variables.$clr-code-function;
      }
      &.class_ {
        color: variables.$clr-code-class;
      }
    }
    .hljs-number {
      color: variables.$clr-code-number;
    }
    .hljs-string {
      color: variables.$clr-code-string;
    }
    .hljs-comment {
      color: variables.$clr-code-comment;
    }
    .hljs-attr {
      color: variables.$clr-code-attr;
    }
  }
}
code.inline {
  font-family: variables.$font-code;
  background-color: variables.$clr-code-inline-bg;
  display: inline-block;
  line-height: 1em;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 14px;
}
a > code.inline:hover {
  text-decoration: underline;
  background-color: darken($color: variables.$clr-code-inline-bg, $amount: 5);
}
