// Variables
$clr-primary: #0070f3;
$clr-code-keyword: #68cdfe;
$clr-code-string: #ce9178;
$clr-code-number: #94cea8;
$clr-code-class: #9cd6d3;
$clr-code-function: #dcdc8b;
$clr-code-comment: #6a9955;
$clr-code-bg: #1e1e1e;
$clr-code-inline-bg: #f2f2f2;
$font-code: 'Cascadia Code';

// Basics
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
::selection {
  background-color: $clr-primary;
  color: white;
}
a {
  color: $clr-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

// Components
pre.codebox {

  padding: 10px 15px;
  border-radius: 10px;
  background: $clr-code-bg;
  line-height: 1.1em;

  code.hljs {
    color: white;
    font-family: $font-code;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;

    .hljs-keyword {
      color: $clr-code-keyword;
    }
    .hljs-variable {
      color: $clr-code-class;
    }
    .hljs-title {
      &.function_ {
        color: $clr-code-function;
      }
      &.class_ {
        color: $clr-code-class;
      }
    }
    .hljs-number {
      color: $clr-code-number;
    }
    .hljs-string {
      color: $clr-code-string;
    }
    .hljs-comment {
      color: $clr-code-comment;
    }
  }
}
code.inline {

  font-family: $font-code;
  background-color: $clr-code-inline-bg;
  display: inline-block;
  line-height: 1em;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 14px;

}
a > code.inline:hover {
  text-decoration: underline;
  background-color: darken($color: $clr-code-inline-bg, $amount: 5);
}
