// Variables
$clr-primary: #0070f3;

// Basics
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
::selection {
  background-color: $clr-primary;
  color: white;
}
a {
  color: $clr-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

// Components
pre.codebox {
  padding: 10px 15px;
  border-radius: 10px;
  background: #1e1e1e;
  line-height: 1.1em;

  code.hljs {
    color: white;
    font-family: 'Cascadia Code';
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    // highlight colors
    $keyword: #68cdfe;
    $string: #ce9178;
    $number: #94cea8;
    $class: #9cd6d3;
    $function: #dcdc8b;

    .hljs-keyword {
      color: $keyword;
    }
    .hljs-variable {
      color: $class;
    }
    .hljs-title {
      &.function_ {
        color: $function;
      }
      &.class_ {
        color: $class;
      }
    }
    .hljs-number {
      color: $number;
    }
    .hljs-string {
      color: $string;
    }
  }
}