// Variables
$clr-primary: #0070f3;
$clr-code-keyword: #68cdfe;
$clr-code-attr: #aadafa;
$clr-code-string: #ce9178;
$clr-code-number: #94cea8;
$clr-code-class: #9cd6d3;
$clr-code-function: #dcdc8b;
$clr-code-comment: #6a9955;
$clr-code-bg: #1e1e1e;
$clr-code-inline-bg: #f2f2f2;
$font-code: 'Cascadia Code';
